<nav>
    <ul>
        <li><a href="/">الصفحة الرئيسية</a></li>
        <li><a href="/security-camera-systems">انظمة كاميرات الالمراقبة</a></li>
        <li><a href="/security-packages">انظمة كاميرات الالمراقبة</a></li>
        <li><a href="/XVR5108HS-I3">XVR5108HS-I3</a></li>
    </ul>
</nav>
